@model AdminIncomeDetail
@using BackSideWeb.Models.ViewModel
@using JxBackendService.Model.Entity
@using BackSideWeb.Model.Entity.MM
@using JxBackendService.Model.Enums
@using MS.Core.MMModel.Models.AdminIncomeExpense;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="~/css/user.css" rel="stylesheet" />
<div class="wrapper">
    <div class="info">
        <div><span class="title">收益单ID</span> @Model.Id</div>
        <div><span class="title">帖子ID</span> @Model.PostId</div>
        <div><span class="title">帖子区域</span> @Model.CategoryText</div>
        <div><span class="title">收益会员ID</span> @Model.UserId</div>
        <div><span class="title">解锁单ID</span> @Model.SourceId</div>
        <div><span class="title">解锁会员ID</span> @Model.UnlockUserId</div>
        <div><span class="title">解锁时间</span> @Model.CreateTimeText</div>
        <div><span class="title">应入账时间</span> @Model.ApplyTimeText</div>
        <div><span class="title">解锁方式</span> @Model.UnlockTypeText</div>
        <div><span class="title">消费钻石</span> @Model.PointText</div>
        <div><span class="title">暂锁/未入账收益￥</span> @Model.AmountText</div>
        <div><span class="title">锁定状态</span> @Model.LockStatusText</div>
        <div><span class="title">钻石状态</span> @Model.DiamondStatusText</div>
        <div><span class="title">收益单状态</span> @Model.StatusText</div>
        <div><span class="title">注解</span> @Model.UnusualMemo</div>
        <div><span class="title">投诉单ID</span> @Model.ReportId</div>
        <div><span class="title">商户入账收益￥</span> @Model.IncomeAmountText</div>
        <div><span class="title">入账时间</span> @Model.DistributeTimeText</div>
    </div>
</div>