@using BackSideWeb.Models.ViewModel.PublishRecord;
@using JxBackendService.Model.Entity.PublishRecord;
@using JxBackendService.Model.Paging
@using JxBackendService.Model.ViewModel.Game
@using MS.Core.MMModel.Models.AdminReport;
@model PagedResultModel<AdminReportList>
@{
    string clientServiceName = ViewBag.ClientServiceName.ToString();
}
<div>
    <table>
        <tbody class="jqBody">
            @foreach (var item in Model.ResultList)
            {
                <tr>
                    <td>@item.ReportId</td>
                    <td class="hrefcss">
                        <a href="/OfficialReportRecord/Index?postid=@(item.PostId)" target="_blank">
                            @item.PostId
                        </a>
                    </td>
                    <td class="hrefcss">
                        <a href="/OfficialReportRecord/Index?userId=@(item.ComplainantUserId)" target="_blank">
                            @item.ComplainantUserId
                        </a>
                    </td>
                    <td>@item.CreateTimeText</td>
                    <td>@item.ExamineTimeText</td>
                    <td>@item.ReportTypeText</td>
                    <td>@item.Describe</td>
                    <td>@item.StatusText</td>
                    <td>
                        <div class="flex_content">

                            @if ((bool)ViewBag.HasEditPermission)
                            {
                                <a href="javascript:void(0)" data-url='@Url.Action("UpdateView", "OfficialReportRecord")' class="btn_default main_color icon_style text_btn"
                                   onclick="@string.Format("{0}.openUpdateView2(this, '{1}')", clientServiceName, item.ReportId)">
                                    审核
                                </a>
                            }

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="jqPagination">
        @await Html.PartialAsync("Partial/_PaginationByPagerInfo", Model)
    </div>
</div>
