@using JxBackendService.Model.Paging
@using JxBackendService.Model.ViewModel.Game
@model PagedResultModel<QueryFrontsideMenuModel>
<div>
    <table>
        <tbody class="jqBody">
            @foreach (var item in Model.ResultList)
            {
                <tr>
                    <td class="jqHoverData">@item.MenuName</td>
                    <td class="jqHoverData" title="aqqqqqqqqqqqq">@item.TypeText</td>
                    <td>@item.ThirdPartyName</td>
                    <td>@item.IsActiveText</td>
                    <td>@item.Sort</td>
                    <td>@item.UpdateDateText</td>
                    <td>
                        <div class="flex_content">
                            <a href="javascript:void(0)" data-url='@Url.Action("Detail", "Demo")' class="btn_default main_color icon_style text_btn"
                                onclick="openGridDetail(this);">
                                詳情
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="jqPagination">
        @await Html.PartialAsync("Partial/_PaginationByPagerInfo", Model)        
    </div>
</div>